.main-conteiner {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
    flex-flow: wrap-reverse;
  }
}

.chat_modern {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  
  @media (max-width: 800px) {
    padding: 0 10px;
  }

  .wrapper__chat {
    height: 43em;
    width: 100%;
    max-width: 1100px;
    overflow-y: scroll;
    margin: 0 auto;
  }
  
  .message,
  .message-owner {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;
    position: relative;
    align-items: center;

    .message-container {
      display: flex;
      flex-direction: column;
      margin: 0 5px;

      & > .user-name {
        font-size: 13px;
        margin: 0 4px;
        color: #909093;
        text-align: left;
        margin-bottom: 3px;
      }
    }
  
    & > .avatar {
      height: 40px;
      width: 40px;
      margin: 0 3px;
      border-radius: 50%;
    }

    & > .avatar-placeholder {
      height: 40px;
      width: 40px;
      margin: 0 3px;
      background-color: #ffffff00;
    }
  }
  
  .message-owner {
    justify-content: flex-end;

    .message-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & > .message-content {
        background: #0078FF;
        color: white; 
      }
    }
    & .old-day {
      margin-right: 427px;
      @media (max-width: 600px) {
        & {
          margin-right: 160px;
        }
      }
      @media (max-width: 400px) {
        & {
          margin-right: 54px;
        }
      }
    }

  }
  
  .message {
    justify-content: start;
    flex-direction: row-reverse;

    & .old-day {
      margin-left: 460px;
      @media (max-width: 600px) {
        & {
          margin-left: 200px;
        }
      }
      @media (max-width: 400px) {
        & {
          margin-left: 100px;
        }
      }
    }
  }
  
  .message-content {
    text-align: left;
    background: #E9E9EB;
    width: fit-content;
    margin: 0;
    padding: 10px 12px 7px 12px;
    border-radius: 20px;
    word-break: break-word;

    & > .message-footer {
      display: flex;
      justify-content: flex-end;

      & > .message-date, 
      .message-date__owner {
        margin: 0;
        margin-top: 4px;
        color: rgb(82 82 82);
        font-size: 14px;
        text-align: right;
      }
  
      & > .message-date__owner {
        color: #e0e0e0;
      }
  
      & > .reactions {
        display: flex;
        color: #ffffff;
        margin-right: 5px;
        margin-top: 3px;
      }
    }
  }

  .pick-reaction {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 4px;
    position: absolute;
    right: 50;
    bottom: -24px;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .emoji-badge {
    display: flex;
    align-items: center;
    margin: 0 2px 0 2px;
    background-color: #00000059;
    border-radius: 12px;
    padding: 0 4px 0 4px;
    cursor: pointer;

    &:hover {
      background-color: #3d97ff;
    }

    & > .emoji {
      padding-bottom: 1px;
      margin-right: 4px;
      font-size: 15px;
    }
  }
  
  .send-message {
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
  
    & > .message-input {
      height: 34px;
      width: 227px;
      border: 1px solid rgba(200, 200, 204, 1);
      border-radius: 15px;
      padding: 0 8px;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: space-between;

      .message-input__container {
        width: 100%;

        input {
          border: none;
          outline: none;
          height: 100%;
          width: 95%;
        }
      }
      
    }
  }
}

.chat {
  width: 100%;
  padding-right: 10%;

  @media (max-width: 800px) {
    padding: 0 10px;
  }

  .wrapper__chat {
    border: 1px solid #000;
    height: 600px;
    max-width: 610px;
    overflow-y: scroll;
    margin: 0 auto;
    background-image: url('https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2F2RNK1P0BYVrSCZEy_Sd1Ew%252F3417757448_4a6bdf36ce_o.jpg&width=1200&quality=80');
  }
  
  .message,
  .message-owner {
    display: flex;
    align-items: flex-end;
  
    & > .avatar {
      height: 30px;
      margin: 0 5px;
      border-radius: 5px;
    }

    & > .avatar-placeholder {
      height: 30px;
      width: 30px;
      margin: 0 5px;
      background-color: #ff000000;
    }

    & > .message-container{
      & > .user-name {
        text-align: left;
        margin: 0;
      }
    }
  }
  
  .message {
    justify-content: start;
    flex-direction: row-reverse;

    & .old-day {
      margin-left: 220px;

      @media (max-width: 500px){
        & {
          margin-left: 100px;
        }
      }
    }
  }
  
  .message-owner {
    justify-content: flex-end;

    & .message-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    & .old-day {
      margin-right: 190px;

      @media (max-width: 500px){
        & {
          margin-right: 50px;
        }
      }
    }

  }
  
  .message-content {
    text-align: left;
    margin: 5px 5px 0px 5px; 
    word-break: break-word;


    & .message-content-name {
      padding: 10px;
      margin-bottom: 3; 
      background: white;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    & .message-content-text {
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 10px;
      background: white;
      border-radius: 10px;
      max-width: 250px;
      width: max-content;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .message-date {
    margin: 0px 0;
    text-align: right;
    color: #737373;
    font-size: 14px;
  }
  
  .send-message {
    margin-top: 10px;
  
    & > *{
      height: 20px
    }
  }
}

.arrow-to-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
  z-index: 101;
}

.wrapper__chat__img {
  display: flex;
  width: 100%;
  position: relative;
}

.oneMessage:not(:first-of-type) {
  margin-top: 10px;
}

.old-day {
  width: max-content;
  margin-top: 30px;
  border-radius: 10px;
  background: white;
  order: -1;
  padding: 0px 10px;
  font-size: 12px;
  color: #909093;

  & p {
    width: 100%;
    height: 30px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.chat_modern .send-message > .message-input {
  flex-direction: row-reverse;
}

.voice-audio {
  align-self: center;
  cursor: pointer;
}