.main-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;

  @media (max-width: 800px) {
    flex-direction: column;
    flex-flow: wrap-reverse;
  }
}

.chat_modern {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (max-width: 800px) {
    padding: 0 20px;
  }

  @media (max-width: 700px) {
    width: 100%;
    padding-left: 20px;
  }

  .wrapper__chat {
    height: 43em;
    width: 100%;
    max-width: 1100px;
    overflow-y: scroll;
    margin: 0 auto;
  }
  
  
  .message,
  .message-owner {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;

    & > .message-container {
      display: flex;
      flex-direction: column;
      margin: 0 5px;

      & > .user-name {
        font-size: 13px;
        margin: 0 4px;
        color: #909093;
        text-align: left;
        margin-bottom: 3px;
      }
    }
  
    & > .avatar {
      height: 40px;
      margin: 0 3px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  
  .message-owner {
    justify-content: flex-end;

    & > .message-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & > .message-content {
        background: #0078FF;
        color: white; 
      }
    }
    & .old-day {
      position: absolute;
      right: 50%;
    }
  }
  
  .message {
    justify-content: start;
    flex-direction: row-reverse;

    & .old-day {
      position: absolute;
      right: 50%;
    }
  }
  
  .message-content {
    text-align: left;
    background: #E9E9EB;
    width: fit-content;
    margin: 0;
    padding: 10px 12px 7px 12px;
    border-radius: 20px;
    word-break: break-word;

    &:not(:last-child) {
      margin-bottom: 10px
    }

    & > .message-date, 
    .message-date__owner {
      margin: 0;
      margin-top: 4px;
      color: rgb(82 82 82);
      font-size: 14px;
      text-align: right;
    }

    & > .message-date__owner {
      color: #e0e0e0;
    }
  }
  
  .send-message {
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
  
    & > .message-input {
      height: 34px;
      width: 227px;
      border: 1px solid rgba(200, 200, 204, 1);
      border-radius: 15px;
      padding: 0 8px;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: space-between;

      .message-input__container {
        width: 100%;

        input {
          border: none;
          outline: none;
          height: 100%;
          width: 95%;
        }
      }
      
    }
  }
}

.arrow-to-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
}

.wrapper__chat__img {
  display: flex;
  width: 100%;
  position: relative;
}

.oneMessage:not(:first-of-type) {
  margin-top: 10px;
}

.old-day {
  width: max-content;
  margin-top: 30px;
  border-radius: 10px;
  background: white;
  order: -1;
  padding: 0px 10px;
  font-size: 12px;
  color: #909093;

  & p {
    width: 100%;
    height: 30px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.chat_modern .send-message > .message-input {
  flex-direction: row-reverse;
}

.voice-audio {
  align-self: center;
  cursor: pointer;
}

.container__audio {
  position: relative;
  .cancel__audio {
    position: absolute;
    top: -7px;
    left: -12px;
    display: flex;
    border: none;
    background: #0275d8;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    svg {
      width: 20px;
      height: 20px;
      color: white;
    }
  }
}