.main-conteiner {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
    flex-flow: wrap-reverse;
  }
}

.chat_modern {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 30px;

  @media (max-width: 800px) {
    padding: 0 10px;
  }

  .wrapper__chat {
    height: 600px;
    width: 100%;
    max-width: 1200px;
    overflow-y: scroll;
    margin: 0 auto;
  }
  
  
  .message,
  .message-owner {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;

    & > .message-container {
      margin: 0 5px;

      & > .user-name {
        font-size: 13px;
        margin: 0 4px;
        color: #909093;
        text-align: left;
        margin-bottom: 3px;
      }
    }
  
    & > .avatar {
      height: 40px;
      margin: 0 3px;
      border-radius: 50%;
    }
  }
  
  .message-owner {
    justify-content: flex-end;

    & > .message-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & > .message-content {
        background: #0078FF;
        color: white; 
      }
    }

  }
  
  .message {
    justify-content: start;
    flex-direction: row-reverse;
  }
  
  .message-content {
    text-align: left;
    background: #E9E9EB;
    width: fit-content;
    max-width: 250px; 
    margin: 0;
    padding: 7px 12px;
    border-radius: 20px;
    word-break: break-word;
  }
  
  .send-message {
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
  
    & > .message-input {
      height: 34px;
      width: 227px;
      border: 1px solid rgba(200, 200, 204, 1);
      border-radius: 15px;
      padding: 0 8px
    }
  }
}

.chat {
  width: 100%;
  padding-right: 10%;

  @media (max-width: 800px) {
    padding: 0 10px;
  }

  .wrapper__chat {
    border: 1px solid #000;
    height: 600px;
    max-width: 610px;
    overflow-y: scroll;
    margin: 0 auto;
    background-image: url('https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2F2RNK1P0BYVrSCZEy_Sd1Ew%252F3417757448_4a6bdf36ce_o.jpg&width=1200&quality=80');
  }
  
  .message,
  .message-owner {
    display: flex;
    align-items: center;
  
    & > .avatar {
      height: 30px;
      margin: 0 5px;
      border-radius: 5px;
    }

    & > .message-container{
      & > .user-name {
        text-align: left;
        margin: 0;
      }
    }
  }
  
  .message {
    justify-content: start;
    flex-direction: row-reverse;
  }
  
  .message-owner {
    justify-content: flex-end;
  }
  
  .message-content {
    text-align: left;
    background: rgb(255, 255, 255); 
    margin: 5px; 
    max-width: 250px; 
    padding: 9px;
    border-radius: 5px;
    word-break: break-word;
  }
  
  .send-message {
    margin-top: 10px;
  
    & > *{
      height: 20px
    }
  }
}