.drawerWithEmoji .MuiDrawer-paper{
    background: none;
    box-shadow: none;
    margin-left: calc(35vw - 20%);
    width: max-content;
};
@media (max-width: 800px){
    .emojiButton {
        display: none!important;
    }
}

